.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50; /* Asegúrate de que sea más alto que otros elementos */
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* Para pantallas pequeñas */
    max-width: 500px; /* Ancho máximo */
    z-index: 100; /* Más alto que el fondo del modal */
}
.modal {
    z-index: 1000; /* Modal de edición */
}

.confirmation-modal {
    z-index: 1100; /* Modal de confirmación */
}
